
/obj/Debug
/obj
/obj
/obj/Debug
*.config
/obj
/obj/Debug
*.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Todo.txt
/bin/Debug/LogReader.pdb
/bin/Debug/LogReader.exe.config
/bin/Release/LogReader.pdb
/bin/Release/LogReader.exe.config
bin/Debug/LogTypes.xml
bin/Release/LogTypes.xml
.vs/LogReader.csproj.dtbcache.json
*.user
